button {
    border: black 4px solid;
    font-size: 26px;
    background-color: transparent;
   transition: .3s;
}
button:hover {
    background-color: black;
    color: white;
    cursor: pointer;

}


button.gotowy {
    width: 20%;
    height: 5vh;
    position: absolute;
    left: calc(50% - 10%);
    top: 10%;
    
}
button.odp {
    display: block;
    width: 25%;
    margin: 2% auto;
}
div.odpowiedzi {
    margin-top: 10%;
}
.next {
    display: block;
    margin: 5% auto;
    width: 10%;
}
h1 {
    text-align: center;
    margin: 1%;
}
h4 {
    text-align: center;
}
h2 {
    text-align: center;
}
span {
    font-size: 50px;
    position: absolute;
    right: 5%;
    top: 10%;
}
h3 {
    text-align: center;
}